[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
	branch = v8.x-binary
[submodule "buddy_alloc"]
	path = buddy_alloc
	url = https://github.com/spaskalev/buddy_alloc
