name: Update Dependencies
run-name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  update_deps:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.PR_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
      - name: Update Zig Nightly
        run: |
          version=$(curl -s https://ziglang.org/download/index.json | jq -r .master.version)
          sed 's/minimum_zig_version = ".*"/minimum_zig_version = "'$version'"/' build.zig.zon
      - name: Update Limine Binaries
        run: |
          REPO=limine-bootloader/limine
          json=$(gh api -H "Accept: application/vnd.github+json" \
                   -H "X-GitHub-Api-Version: 2022-11-28" \
                   /repos/$REPO/tags?per_page=2 | \
            jq '.[] | select(.name|endswith("-binary"))')
          zig fetch --save=limine_bin $(echo $json | jq -r '.zipball_url')
      - name: Update limine-zig
        run: |
          REPO=ishan-karmakar/limine-zig
          json=$(gh api -H "Accept: application/vnd.github+json" \
                        -H "X-GitHub-Api-Version: 2022-11-28" \
                        /repos/$REPO/commits?per_page=1 | \
                 jq '.[0]')
          zig fetch --save=limine_zig $GITHUB_API_URL/repos/$REPO/zipball/$(echo $json | jq -r '.sha')
      - name: Update uACPI
        run: |
          REPO=uACPI/uACPI
          json=$(gh api -H "Accept: application/vnd.github+json" \
                        -H "X-GitHub-Api-Version: 2022-11-28" \
                        /repos/$REPO/commits?per_page=1 | \
                 jq '.[0]')
          zig fetch --save=uacpi $GITHUB_API_URL/repos/$REPO/zipball/$(echo $json | jq -r '.sha')
      - name: Update SSFN
        run: |
          REPO=bztsrc/scalable-font2
          PROJECT_ID=18860409 # bztsrc/scalable-font2 project id
          json=$(curl --url https://gitlab.com/api/v4/projects/$PROJECT_ID/repository/commits | jq -r '.[0]')
          zig fetch --save=ssfn https://gitlab.com/api/v4/projects/$PROJECT_ID/repository/archive.zip?sha=$(echo $json | jq -r '.id')
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          title: "[bot] Update dependencies"
          commit-message: "[bot] Update dependencies"
          branch: update-deps
          body: ""
          token: ${{ secrets.PR_TOKEN }}
          delete-branch: true
